.campo-entrada-form {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    border: 1px solid #4A4949;
    border-radius: 8px;
    background-color: transparent;
    color: #ffffff;
}

.campo-entrada-form::placeholder {
    color: #4A4949;
}
