.titulo-tema {
    color: #FFFFFF;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;         /* SemiBold */
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 10%;
    text-transform: uppercase;
}

