.banner {
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* padding: 0px 360px; */

/* width: 1920px;
height: 600px; */

/* Linear */
background: linear-gradient(180deg, #17E4B9 0%, #091D24 100%);
}

.banner img {
    max-width: 90%;
}