body {
    margin: 0;
}

header{
    background-color: #06151A;
    padding-left: 32px; 
    padding-right: 32px;
    display: flex;
    justify-content: center;
}

section {
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* padding: 0px 360px; */

/* width: 1920px;
height: 600px; */

/* Linear */
background: linear-gradient(180deg, #17E4B9 0%, #091D24 100%);
}

section img {
    max-width: 90%;
}

.form-evento {
    background-color: #212121;
    padding: 32px, 28px;
    border-radius: 16px;
    width: 384px;
    max-width: 90%;
    margin: 64px auto;
}