body {
    margin: 0;
    background-color: #06151A;
}

header {
    background-color: #06151A;
    padding-left: 32px; 
    padding-right: 32px;
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}

.eventos {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
}